.wrapper {
    display: flex;
    flex-direction: column;

    .input {
        font-size: 1rem;
        font-weight: 400;
        border-radius: 8px;
        border: 0;
        border: 1px solid var(--color-control);
        padding: 8px;

        &:focus {
            outline: 1px solid var(--color-control);
        }

        &::placeholder {
            color: var(--tg-theme-hint-color);
        }
    }

    .label {
        font-weight: 400;
        font-size: 0.9rem;
        margin-bottom: 8px;
    }

    .error {
        color: #E03E1A
    }
}