.button {
    padding: 5px 8px;
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 0.9rem;
}

.disabled {
    background: #757575;
    cursor: not-allowed;
}