.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;

    .content {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        gap: 10px;
    }

    .buttons {
        display: flex;
        justify-content: space-around;
    }

    .list-wrapper {
        margin: 15px 0;
        display: flex;
        flex-direction: column;
        gap: 5px;


        .count-and-price {
            display: flex;
            gap: 10px;

            .field {
                flex: 1 1 auto;
            }
        }
    }
}